@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  font-family: "Titillium Web", sans-serif; }

.container-fluid {
  padding: auto 0px !important; }

.row {
  margin: 0 !important;
  padding: 0px !important;
  width: 100%; }

.homepage {
  align-items: center;
  background-image: url(/images/homepage-desktop.jpg);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
  min-height: 100vh; }
  .homepage__title {
    font-family: "Dancing Script", cursive;
    font-size: 4.5rem;
    text-align: center;
    text-shadow: 4px 4px 10px #424244;
    width: 90%; }
  .homepage__subtitle {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 4px 4px 10px #424244;
    width: 90%; }
  .homepage__button {
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 5px;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #ebec1c, #fd4470);
    color: white;
    font-size: 25px;
    margin-top: 20px;
    padding: 5px 50px;
    text-align: center; }
  .homepage__button:hover {
    color: white;
    border: solid 5px;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #fd4470, #ebec1c);
    text-decoration: none; }

@media all and (max-width: 768px) {
  .homepage {
    background-image: url(/images/homepage-mobile.jpg);
    padding-bottom: 100px; } }
header {
  margin: 0px !important; }
  header nav {
    margin: 0 auto; }
    header nav a {
      color: white !important;
      text-align: center;
      font-size: 1rem; }
  header .navbar-light .navbar-toggler {
    border: #f9fdfd solid 1.5px;
    border-radius: 5px;
    padding: 5px; }
  header .navbar-light .navbar-toggler:focus {
    outline: none !important; }
  header .navbar-light .navbar-toggler-icon {
    background-image: url(../images/menu-icon.png); }
  header .navbar-light #navbarNavDropdown {
    justify-content: flex-end; }

.destinations {
  text-align: center; }
  .destinations__content {
    margin: 0px auto !important;
    padding: 0px !important;
    width: 60vw; }
    .destinations__content__title {
      font-family: "Dancing Script", cursive;
      font-size: 4rem;
      margin: 20px 0px 20px; }
    .destinations__content .searchbar {
      display: block;
      margin: 30px 0px; }
      .destinations__content .searchbar__input {
        background: transparent;
        border: #01b2bc solid 3px;
        border-radius: 0;
        color: #01b2bc;
        font-size: 1.1rem;
        height: 40px;
        padding: 20px;
        text-align: left;
        -webkit-appearance: none;
        width: 50%; }
      .destinations__content .searchbar__input:focus {
        outline: none; }
      .destinations__content .searchbar ::placeholder {
        color: rgba(1, 178, 188, 0.8);
        text-align: left; }
    .destinations__content .item-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .destinations__content .item {
      box-sizing: border-box;
      margin: 10px;
      max-width: 30%;
      min-width: 30%;
      min-height: 150px;
      position: relative; }
      .destinations__content .item__photo {
        width: 100%; }
      .destinations__content .item__title {
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.233);
        bottom: 0px;
        color: white;
        font-size: 1.5rem;
        margin: 0px;
        padding: 10px 5px;
        position: absolute;
        text-align: center;
        width: 100%; }
    .destinations__content .item--lazy {
      opacity: 0;
      transition: opacity 350ms ease-in; }
    .destinations__content .appear {
      opacity: 1; }

@media all and (max-width: 1200px) {
  .destinations__content {
    left: 0px;
    width: 100vw; }
    .destinations__content__title {
      padding: 20px 0px 10px 0px; } }
@media all and (max-width: 768px) {
  .destinations .destinations__content {
    width: 100vw; }
    .destinations .destinations__content .searchbar {
      margin: 10px 0px; }
      .destinations .destinations__content .searchbar__input {
        width: 70%; }
    .destinations .destinations__content .item {
      margin: 5px;
      max-width: 45%;
      min-width: 45%; }
      .destinations .destinations__content .item__title {
        font-size: 1rem; } }
.destination {
  padding: 0px !important; }
  .destination__content {
    text-align: center;
    padding: 0 !important; }
    .destination__content h1 {
      margin: 20px 0px 20px;
      font-family: "Dancing Script", cursive;
      font-size: 4rem; }
    .destination__content h2 {
      margin: 25px 0px;
      padding: 0px 15px; }
    .destination__content__tags button {
      border: none;
      border-radius: 5px;
      color: white;
      margin: 5px; }
    .destination__content__tags button:hover {
      color: white;
      cursor: auto;
      text-decoration: none; }
    .destination__content__tags .btn--travel {
      background-color: #01b2bc; }
    .destination__content__tags .btn--summer {
      background-color: #ebec1c; }
    .destination__content__tags .btn--story {
      background-color: #fd4470; }
    .destination__content__tags .btn.focus, .destination__content__tags .btn:focus {
      box-shadow: none !important;
      outline: none !important; }
    .destination__content p {
      color: #424244;
      font-size: 16px;
      margin: 15px 20px;
      text-align: justify; }
    .destination__content .markedtext {
      background-color: #ebec1c;
      border-radius: 5px;
      color: #424244;
      font-size: 16px;
      margin: 15px;
      padding: 10px;
      text-align: center; }
    .destination__content a {
      border-bottom: dotted #fd4470 2px;
      color: #fd4470;
      font-weight: bold; }
    .destination__content a:hover {
      background-color: #fd4470;
      color: white;
      text-decoration: none; }
    .destination__content .instagram-post {
      display: none !important;
      margin: auto !important;
      width: 80%; }
    .destination__content .slider {
      margin: 20px auto 25px;
      width: 70%; }
      .destination__content .slider ::after, .destination__content .slider ::before {
        box-sizing: content-box !important; }
      .destination__content .slider__slide {
        position: relative; }
        .destination__content .slider__slide__img {
          border-radius: 10px;
          width: 100%; }
        .destination__content .slider__slide__title {
          background-color: rgba(0, 0, 0, 0.4);
          bottom: 0px;
          color: white;
          display: inline-block !important;
          font-size: 1.5rem;
          margin: 0px;
          padding: 0px 5px;
          position: absolute;
          right: 20px;
          text-align: center;
          text-shadow: 4px 4px 10px #424244; }
      .destination__content .slider__slide:focus {
        outline: none; }
      .destination__content .slider .slick-center img {
        transform: scale(1.05);
        transition: transform 1200ms linear; }
      .destination__content .slider .slick-prev:before, .destination__content .slider .slick-next:before {
        color: #fd4470;
        opacity: 1; }

@media all and (max-width: 768px) {
  .destination .markedtext {
    background-color: rgba(1, 178, 188, 0.2); }
  .destination .instagram-post {
    display: block !important;
    margin: auto !important;
    width: 90% !important; }
  .destination .slider {
    width: 100%; }
    .destination .slider__slide__title {
      font-size: 1rem; } }
.advice__item {
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px !important;
  width: 100%; }
  .advice__item__photo img {
    border-radius: 10px 0px 0px 10px;
    max-width: 300px; }
  .advice__item__content {
    width: 100%; }
    .advice__item__content h2 {
      font-size: 1.5rem; }
    .advice__item__content p {
      text-align: center; }
    .advice__item__content a {
      font-size: 1.2rem; }

@media all and (max-width: 768px) {
  .advice__item {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    width: 80%; }
    .advice__item__photo img {
      border-radius: 10px 10px 0px 0px;
      width: 100%; }
    .advice__item__content {
      padding-bottom: 25px; } }
footer {
  background-color: #01b2bc;
  margin-top: 80px;
  text-align: center;
  width: 100%; }
  footer img {
    margin: 30px auto 30px;
    width: 300px; }

/*# sourceMappingURL=index.css.map */
