.destination {
    padding: 0px !important;
       
    // CONTENT SECTION

    &__content {
        text-align: center;
        padding: 0 !important;
        h1 {
            margin: 20px 0px 20px;
            font-family: $font2;
            font-size: 4rem;
        }
        h2 {
            display: inline;
            margin: 25px 0px;
        }
        &__tags {
            button {
                border: none;
                border-radius: none;
                color: $white;
                margin: 5px;
            }
            button:hover {
                color: $white;
                cursor: auto;
                text-decoration: none;
            }
            .btn--travel {
                background-color: $green;
            }
            .btn--summer {
                background-color: #ebec1c;
                color: $grey;
            }
            .btn--story {
                background-color: rgb(253, 68, 112);
            }
            .btn.focus, .btn:focus {
                box-shadow: none !important;
                outline: none !important;
            }
        }
        p {
            color: $grey;
            font-size: 16px;
            margin: 15px 20px;
            text-align: justify;
        }
        .markedtext {
            background-color: #ebec1c;
            color: $grey;
            font-size: 16px;
            margin: 5px 15px;
            padding: 10px;
            text-align: center;
        }

        // SLIDER

        .slider {
            margin: 20px auto 25px;
            width: 70%;
            &__slide {
                position: relative;
                &__img {
                    border-radius: 20px;
                    width: 100%;
                }
                &__title {
                    bottom: 0px;
                    color: $white;
                    font-size: 2rem;
                    position: absolute;
                    text-align: center;
                    text-shadow: 4px 4px 10px $grey;
                    width: 100%;
                }
            }
            &__slide:focus {
                outline: none;
            }
            .slick-center img {
                transform: scale(1.1);
                transition: transform 1200ms linear;
            }
            .slick-prev:before, .slick-next:before {
                color: $pink;
                opacity: 1;
            }
        }
    }
}

// RESPONSIVE

// @media all and (max-width: 1200px) {

// }

@media all and (max-width: 768px) {
    .destination {
        .slider {
            width: 100%;
            &__slide {
                &__title {
                    font-size: 1.5rem;
                }
            }
        }
    }
}