.destinations {
    text-align: center;

    &__content {
        margin: 0px auto !important;
        padding: 0px !important;
        width: 60vw;

        &__title {
            font-family: $font2;
            font-size: 4rem;
            margin: 20px 0px 20px;
        }
    
        .searchbar {
            margin: 30px 0px;

            &__input {
                background: transparent;
                border: $green solid 3px;
                color: $green;
                font-size: 1.1rem;
                height: 40px;
                padding: 20px;
                text-align: left;
                width: 50%;
            }

            &__input:focus {
                outline: none;
            }

            ::placeholder { 
                color: rgba($color: $green, $alpha: 0.8);
              }
        }

        .item-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .item {
            box-sizing: border-box;
            margin: 10px;
            max-width: 30%;
            min-width: 30%;
            position: relative;

            &__photo {
                width: 100%;
            }

            &__title {
                backdrop-filter: blur(3px);
                background: rgba(0, 0, 0, 0.233);
                bottom: 0px;
                color: $white;
                font-size: 1.5rem;
                margin: 0px;
                padding: 10px 5px;
                position: absolute;
                text-align: center;
                width: 100%;
            }
        }
    }
}

// RESPONSIVE

@media all and (max-width: 1200px) {
    .destinations {

        &__content {
            left: 0px;
            width: 100vw;

            &__title {
                padding: 20px 0px 10px 0px;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .destinations {
        .destinations__content {
            width: 100vw;
            .searchbar {
                margin: 10px 0px;

                &__input {
                    width: 70%;
                }
            }
            .item {
                margin: 5px;
                max-width: 45%;
                min-width: 45%;
                
                &__title {
                    font-size: 1rem;
                }
            }
        }
    }
}