// HOME PAGE
.homepage {
    align-items: center;
    background-image: url(/images/homepage-desktop.webp);
    background-size: cover;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
    min-height: 100vh;
    

    &__title {
        font-family: $font2;
        font-size: 4.5rem;
        text-align: center;
        text-shadow: 4px 4px 10px $grey;
        width: 90%;
    }
    &__subtitle {
        font-size: 2.5rem;
        text-align: center;
        text-shadow: 4px 4px 10px $grey;
        width: 90%;
    }
}

// RESPONSIVE

@media all and (max-width: 768px) {
    .homepage {
        background-image: url(/images/homepage-mobile.webp);
    }
}