.livebutton {
	display: inline-block;
	height: 70px;
    margin-top: 50px !important;
	width: 220px;
	z-index: 11;
}
.livebutton:after {
	background: linear-gradient(120deg, $pink, $pink, $green);
	background-size: 400% 400%;
	content: '';
	-webkit-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
	-webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
}
.livebutton>p {
	// animation: gradient 3s ease-in-out infinite;
	// background: linear-gradient(120deg, #E62878, $white, #E62878);
	// background-size: 100%;
	color: $white;
	display: inline-block;
	text-shadow: 4px 4px 10px $grey;
	// -moz-animation: gradient 3s ease-in-out infinite;
	// -webkit-animation: gradient 3s ease-in-out infinite;
	// -webkit-background-clip: text;
	// -webkit-text-fill-color: $white;
}
.absolute-centering, body:after, .livebutton, .livebutton:after {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}
.livebutton {
	margin: 0;
	position: relative;
}
.text-formatting, .livebutton {
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 70px;
	text-align: center;
}

@-moz-keyframes gradient {
	0% {
		background-position: 14% 0%;
	}
	50% {
		background-position: 87% 100%;
	}
	100% {
		background-position: 14% 0%;
	}
}
@-webkit-keyframes gradient {
	0% {
		background-position: 14% 0%;
	}
	50% {
		background-position: 87% 100%;
	}
	100% {
		background-position: 14% 0%;
	}
}
@keyframes gradient {
	0% {
		background-position: 14% 0%;
	}
	50% {
		background-position: 87% 100%;
	}
	100% {
		background-position: 14% 0%;
	}
}