// NAVBAR
header {
    margin: 0px !important;
    nav {
        margin: 0 auto; 
        // padding: 0;
        a {
            color: $white !important;
            text-align: center; 
            font-size: 1rem;
        }
        .active-page {
            color: $white !important;
            text-align: center; 
            opacity: 0.5;
        }
    }
    .navbar-light {
        .navbar-toggler {
            border: #f9fdfd solid 1.5px;
            border-radius: 5px;
            padding: 5px;
        }
        .navbar-toggler:focus {
            outline: none !important;
        }  
        .navbar-toggler-icon {
            background-image: url(../images/menu-icon.png)
        }
        #navbarNavDropdown {
            justify-content: flex-end; 
        }
    }
}