// FONTS

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$font1: 'Titillium Web', sans-serif;
$font2: 'Dancing Script', cursive;

* {
    font-family: $font1;
}


// COLORS
$white: white;
$grey: #424244;
$green: #01b2bc;
$pink: #fd4470;
$yellow: #ebec1c;

// RESET

.container-fluid {
    padding: auto 0px !important;
}
.row {
    padding: 0px !important;
    width: 100%;
}

// @media all and (max-width: 1200px) {
//     *, ::after, ::before {
//         box-sizing: content-box !important;
//     }
// }

@import 'homepage';
@import 'destinations';
@import 'destination';
@import 'livebutton';
@import 'navbar';
@import 'footer';